*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

#titulo{
    text-align: center;
    display: flex;
    font-size: xx-large;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}



#miFoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#barraLateral{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #111;
    color: blanchedalmond;
    text-align: center;

}

.list{
    border-bottom: 1px solid rgba(100, 100, 100, 100);
    padding: 30px;
    
}

#boton1:hover{
    color: red;
}

#descripcion{
    text-align: center;
}

#espacio{
    visibility: hidden;
    width: 500px;
    height: 100%;
}