body{
  background: lightgray;
}
nav,
    .offcanvas {
      background-color: #1e293b;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

    .navbar-nav > li:hover {
        background-color: #0dcaf0;
    }
    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #0dcaf0;
      }
    }

.row{
    padding: 30px;
}

#miFoto{
    height: 200px;
    width: 200px;
    background: black;
    border-radius: 5%;
}

.tituloSecun{
    text-align: center;
    margin: revert;
}

.tbody, td, tfoot, th, thead, tr{
    border-block-color: inherit;
    border: groove;
}

#moke{
  width: 332px;
  height: 220px;
}

.btn-warning{
  margin: 5px;
}

.btn-danger{
  margin: 5px;
}

.btn-primary{
  margin: 5px;
}

.progress{
  margin-top: 10px;
}

#pro2{
  width: 332px;
  height: 220px;
}

#ramfot{
  margin: 20px;
  padding-left: 90px;
}

#caja{
  margin-top: 5px;
  border: solid;
}

#h1sobre{
  text-align: center;
}

.linea{
  border-bottom: 2px solid #000000;
}

#fotsobre{
  padding: 10px;
}